/* Your custom styles goes here */
body, header {
  background: #000;
  color: #BBB;
}

h1 a, nav.breadcrumbs a {
  color: #BBB;
}

footer, nav.pagination, nav.pagination a, #zip {
  color: #999;
}

footer a {
  color: #17baef;
}
